<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
      {% include "components/header.css" %}
      {% include "components/footer.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {{%- content | safe }}
  </body>
</html>