<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button">Home</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-white w3-hover-text-black">Articles</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/music-and-emotion" class="w3-bar-item w3-button w3-hover-black">Music &amp; Emotion</a>
      <!--<a href="/music-and-emotion-why" class="w3-bar-item w3-button w3-hover-black">Music &amp; Emotion - Why?</a>-->
    </div>
  </div>
</div>
<!-- this is the icon -->
<link rel="icon" href="icon.ico">